<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>Butelka</title>
  {% load static %}
  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
</head>
<body class="valign-wrapper2">
<div class="container expand-on-small-only">
  {% block body_block %}
  {% endblock %}
</div>
</body>
</html>