{% extends 'milk/base.html' %}
{% block body_block %}
  <div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
      <div class="card">
        <div class="card-content">

          {% if feed_total.milk__sum and food_total.foods__sum %}
            <h4>Dzisiaj zjadła już {{ feed_total.milk__sum }} ml mleka oraz {{ food_total.foods__sum }} g innych
              rzeczy.</h4>
          {% elif feed_total.milk__sum and not food_total.foods__sum %}
            <h4>Dzisiaj zjadła już {{ feed_total.milk__sum }} ml mleka ale nie jadła jeszcze niczego innego</h4>
          {% elif not feed_total.milk__sum and food_total.foods__sum %}
            <h4>Dzisiaj zjadła już {{ food_total.foods__sum }} g jedzenia ale nie jadła jeszcze mleka </h4>
          {% elif not feed_total.milk__sum and not food_total.foods__sum %}
            <h5>Jeszcze dziś nie jadła</h5>
          {% endif %}

          {% if feed_yesterday.milk__sum and food_yesterday.foods__sum %}
            <h5>Wczoraj zjadła {{ feed_yesterday.milk__sum }} ml mleka i {{ food_yesterday.foods__sum }} g innych
              rzeczy.</h5>
          {% elif feed_yesterday.milk__sum and not food_yesterday.foods__sum %}
            <h5>Wczoraj zjadła {{ feed_yesterday.milk__sum }} ml mleka ale nie jadła innych rzeczy.</h5>

          {% elif not feed_yesterday.milk__sum and not food_yesterday.foods__sum %}
            <h5>Nie jadła wczoraj</h5>
          {% endif %}

          <h6>Ostatnie mleko:</h6>

          <ul>
            {% for feed in object_list %}
              <li>{{ feed.milk }} ml {{ feed.time|date:"d-m-Y" }} o {{ feed.time|date:"G:i" }}</li>
            {% endfor %}
          </ul>
          <h6>Inne jedzenie:</h6>
          <ul>
            {% for food in other_food %}
              <li>{{ food.foods }} g {{ food.type }} firmy {{ food.factory }} {{ food.time|date:"d-m-Y" }}
                o {{ food.time|date:"G:i" }}</li>
            {% endfor %}
          </ul>
          <a href="{% url 'milk:home' %}">Powrót</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}