{% extends 'milk/base.html' %}
{% block body_block %}
  <div class="row">
    <a href="{%  url 'milk:feed' %}" class="waves-effect waves-light btn-large">Feed</a>
    <a href="{%  url 'milk:food' %}" class="waves-effect waves-light btn-large">Food</a>
  </div>
{% endblock %}
