{% extends 'milk/base.html' %}
{% block body_block %}
  <div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          {% if last_feed == None %}
            <p>Nie ma jeszcze informacji o dużych karmieniach (&#8805 60 ml).</p>
          {% else %}
            {% if minutes > 0 %}
              <p>Do sześciu godzin od ostatniego mleka &#8805 60 ml brakuje {{ minutes }} min.</p>
            {% else %}
              <p>Minęło ponad sześć godziny od ostatniego mleka</p>
            {% endif %}
          {% endif %}
          <div class="progress">
            <div class="determinate" style="width: {{ bar }}%"></div>
          </div>
          <h4 id="id_action" class="center-align">Wybierz akcję</h4>
          <div class="row">
            <div class="col s12 m12 l12 center-align" style="margin-bottom: 0px;">
              <a href="{% url 'milk:record' %}">
                <button type="submit" name="_submit" class="btn btn-primary btn-lg" id="id_record">Zapisz mleko</button>

              </a>

            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12 center-align" style="margin-bottom: 0px;">
              <a href="{% url 'milk:recordnon' %}">
                <button type="submit" name="_submit" class="btn btn-primary btn-lg" id="id_record_food">Zapisz inne
                  jedzenie
                </button>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12 center-align" style="margin-bottom: 0px;">
              <a href="{% url 'milk:check_total' %}">
                <button type="submit" name="_submit" class="btn btn-primary btn-lg" id="id_check_total">Sprawdź ile już
                  dziś zjadła
                </button>
              </a>
            </div>
          </div>
          {% if hungry_hours != 0 %}
            <h5>Od ostatniego karmienia minęło {{ hungry_hours }} godz. {{ hungry_minutes }} min.</h5>
          {% else %}
            <h5>Od ostatniego karmienia minęło {{ hungry_minutes }} min.</h5>
          {% endif %}
          <h5>Ostatni raz jadła {{ last_feed.time|date:"d-m-Y" }} o {{ last_feed.time|date:"G:i" }}</h5>
          <h5>Zjadła {{ last_feed.milk }} ml</h5>
          <h5>Ostatnio zjadła też {{ last_food.foods }} g {{ last_food.type }} firmy {{ last_food.factory }}
            o {{ last_food.time|date:"G:i" }}</h5>
        </div>
        <div class="row">
          <div class="col s12 m12 l12 center-align" style="margin-bottom: 0px;">
            <a href="{% url 'milk:download' %}" class="waves-effect waves-light btn-large">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
