{% extends 'milk/base.html' %}
{% block body_block %}
  {% load material_form %}
  <div class="row valign change-form">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
      <div class="card">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-content">
            {% form form=form %}
            {% endform %}
            <button type="submit" name="_submit" class="btn btn-primary btn-lg">Zapisz</button>
            <br><br><a href="{% url 'milk:home' %}">Powrót</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}